<h1>Users</h1>
<p>Find me in app/views/users/new.html.erb</p>


<%= form_for @user do |f| %>
    username:
    <%= f.text_field :username%>
    email:
    <%= f.text_field :email%>
    password:
    <%= f.text_field :password%>
    <%= f.submit "login"%>
<%end%>